body {
    margin: 20px auto;
    padding: 0;
    width: 780px;
    font: 75% / 120% Arial, Helvetica, sans-serif;
}

#largeImg {
    border: solid 1px #ccc;
    width: 550px;
    height: 400px;
    padding: 5px;
}

#thumbs img {
    border: solid 1px #ccc;
    width: 200px;
    height: 150px;
    padding: 4px;
}

#thumbs img:hover {
    border-color: #FF9900;
}

